@use '@angular/material' as mat;

@include mat.core();

$worktrace-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
  )
);

html {
  @include mat.all-component-themes($worktrace-theme);
  --mat-sys-primary: #000026 !important;
  --mat-sys-on-primary: #ffffff !important;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #e9eaec;
  height: 100vh;
}

.mat-mdc-unelevated-button.mat-primary {
  background-color: #000026 !important;
  color: #ffffff !important;
}

mat-form-field {
  --mdc-outlined-text-field-focus-outline-color: #000026 !important;
  --mdc-outlined-text-field-focus-label-text-color: #000026 !important;
  --mdc-outlined-text-field-caret-color: #000026 !important;
  --mat-form-field-icon-color: #000026 !important;
}

.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #000026 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-label,
.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: #000026 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-input-element {
  caret-color: #000026 !important;
}

.mat-mdc-form-field.mat-focused .mat-icon {
  color: #000026 !important;
}
