####################################
# SISTEMA
####################################
.DS_Store
Thumbs.db

####################################
# ENTORNO / VARIABLES
####################################
.env
.env.*
!.env.example

####################################
# IDEs
####################################
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

####################################
# JAVA / SPRING / GRADLE
####################################
worktrace-backend/build/
worktrace-backend/.gradle/
worktrace-backend/out/
worktrace-backend/.classpath
worktrace-backend/.project
worktrace-backend/.settings/
worktrace-backend/bin/

####################################
# NODE / ANGULAR
####################################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

####################################
# LOGS
####################################
*.log
logs/

####################################
# DOCKER
####################################
docker-data/
postgres-data/


####################################
# TESTS / COVERAGE
####################################
coverage/

####################################
# Cambios
####################################
CambiosSupabaseAJava.md