####################################
# SISTEMA
####################################
.DS_Store
Thumbs.db

####################################
# ENTORNO / VARIABLES
####################################
.env
.env.*
!.env.example

####################################
# IDEs
####################################
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

####################################
# JAVA / SPRING / GRADLE
####################################
backend/build/
backend/.gradle/
backend/out/
backend/.classpath
backend/.project
backend/.settings/

####################################
# NODE / ANGULAR
####################################
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/

####################################
# LOGS
####################################
*.log
logs/

####################################
# DOCKER
####################################
docker-data/
postgres-data/

####################################
# n8n
####################################
n8n/.n8n/

####################################
# TESTS / COVERAGE
####################################
coverage/
