<div class="page-container">
  <div class="main-content">
    <app-worker-incidencias-header (abrirFormulario)="abrirFormulario()" />

    @if (mostrarFormulario()) {
      <app-worker-incidencias-form-modal
        [form]="form"
        [tipos]="tipos()"
        [maxDateStr]="maxDateStr"
        [mostrarHora]="mostrarHora()"
        [loading]="loading()"
        [mensajeError]="mensajeError()"
        (cerrar)="cerrarFormulario()"
        (enviar)="enviarIncidencia()"
        (limpiarError)="clearError()"
      />
    }

    @if (mostrarConfirmacion()) {
      <app-worker-incidencias-snackbar />
    }

    <app-worker-incidencias-list [incidencias]="incidenciasFormateadas()" [loading]="loading()" />
  </div>
</div>
